/* .section-carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.section-carousel .slider_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .section-carousel .slider_item:hover {
    transform: translateX(-1px)translateY(-1px);
    transition: .5s;
} */

.section-carousel .slider_item a {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
 .slider_item h3 {
    cursor: pointer;
    font-family: var(--base-font-famyli);
    color: var(--primary-light-coloro);
}
 .slider_item h3:hover a {
    color: var(--primary-hover-coloro);
    transition: .4s;
}
 .slider_item h4 {
    font-family: var(--base-font-famyli);
    color: var(--red-color);
}

.section-carousel .slick-list img {
    width: 80%;
}

.section-carousel .slick-arrow {
    color: #999;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    opacity: 0;
    /*/*/
    position: absolute;
    bottom: 0px;
}

.section-carousel .slick-arrow:hover {
    color: var(--primary-hover-coloro);
    opacity: 1;
    transition: .5s;
}

.section-carousel  .slick-arrow.slick-prev {
    position: absolute;
    left: 2px;
    top: 75px;
    z-index: 10;
    font-size: 0.01px;
} 

 .section-carousel  .slick-arrow.slick-next {
    position: absolute;
    right: 2px;
    top: 75px;
    font-size: 0.01px;
}

.section-carousel:hover .slick-arrow {
    opacity: 1;
    transition: .6s;
}

.section-carousel .slick-slider ul.slick-dots {   
    bottom: -20%;
} 

 @media (max-width:800px) {
    .section-carousel ul.slick-dots {
        bottom: -20%;
    }
}

@media (max-width:600px) {
    .section-carousel ul.slick-dots {
        bottom: -20%;
    }
}

.section-carousel ul.slick-dots li {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    border: 2px solid var(--primary-light-coloro);
}
.section-carousel ul.slick-dots li button{
  opacity: 0;
}

.section-carousel ul.slick-dots li:hover {
    border-color: var(--primary-hover-coloro);
    transition: .5s;
}

.section-carousel ul.slick-dots li.slick-active {
    border-color: transparent;
    background-color: var(--primary-light-coloro);

}
