.slider-container{
    margin-bottom: 50px;
}
.slider-container div img{
    width: 100%;
}
.description{
    margin-bottom:100px;
}
.slick-arrow{
    opacity: 0;
}
.slider-container:hover .slick-arrow {
    opacity: 1;
    transition: .8s;
}
