*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #999;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
body {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #999;
}
@font-face {
    font-family: 'Merinda';
    src: url('./fonts/Merienda/Merienda-VariableFont_wght.woff') format('woff'),
    url('./fonts/Merienda/Merienda-VariableFont_wght.woff2') format('woff2');
    }
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Light.woff') format('woff'),
    url('./fonts/Raleway/Raleway-Light.woff2') format('woff2');
    }

:root {
  --base-font-famyli: "Merinda";
  --secundary-font-famyli: 'Raleway';
  --primary-dark-coloro:rgb(2, 16, 30);
  --primary-light-coloro:#999;
  --primary-hover-coloro:#eee;
  --red-color:rgb(159, 75, 75);
}

main {
    margin-top: 160px;
}
