$head_directions: (
    up: -192px 0,
    down: -256px 192px,
    left: -192px 192px,
    right: -256px 0
);

$body_directions: (
    up:         -128px 192px,
    down:       -128px 192px,

    left:       -64px 0,
    right:      -64px 0,

    down-left:  192px 128px,
    right-up:   192px 128px,

    up-left:    192px 256px,
    right-down: 192px 256px,

    left-down:  0 256px,
    up-right:   0 256px,

    down-right: 0 192px,
    left-up:    0 192px,
);

$tail_directions: (
    up: -192px 128px,
    down: -256px 64px,
    left:  -192px 64px,
    right: -256px 128px
);

@mixin component( $name, $size, $directions ){

    .#{$name} {
        width :nth( $size, 1 ); /* take the element from position 1 into $size list*/
        height:nth( $size, 2 ); 
        background-image: url('./snake/snake-graphics.png');
        background-position: -192px 0;
        }

    .dir- {
        @each $dir, $positions in $directions{ /* for each "key" and "value" in map*/
            &#{ $dir } { /* will be like : &up */
                .#{ $name } { 
                    background-position: #{ $positions };
                }
            }
        }
    }
}

