
/* carousel style */
section.section-carousel {
    height: 350px;
    margin-bottom: 20px;
}

@media (max-width:900px) {
    section.section-carousel {
        margin-bottom: 10px;
    }
}

@media (max-width:600px) {
    section.section-carousel {
        margin-bottom: 0px;
    }
}

.section-carousel {
    overflow: hidden;
}

.section-carousel .css-6bbpix-MuiDivider-root::after {
    border-top: thin solid var(--primary-light-coloro);
}

.section-carousel .css-6bbpix-MuiDivider-root::before {
    border-top: thin solid var(--primary-light-coloro);
}

.title-container {
    margin: 30px 0px 20px 0;
    border-top: 1px solid var(--primary-light-coloro);
}


@media (max-width:600px) {
    .title-container {
        margin: 20px 0px 10px 0;
        font-size: 24px;
    }
}

.section-title {
    font-family: var(--base-font-famyli);
    color: var(--red-color);
    display: inline-block;
    background-color: #222;
    position: relative;
    top: -24px;
    padding-right: 10px;
    text-transform: capitalize;
}