footer.footer{
    width: 100%;
    display: flex;   
    margin-top: 70px;
}
footer.footer div.MuiStack-root{
    flex: 1 1 100%;
}

svg.MuiSvgIcon-root{
    margin:0 8px;
    color: rgb(71, 213, 213);
}
a svg.MuiSvgIcon-root:hover{
    color: var(--primary-hover-coloro);
    transition: .4s;
}
footer.footer h5 {
    margin-left: 5px;
}
footer a:hover {
    color: var(--primary-hover-coloro);
    transition: .4s;
}

footer ul {
    margin: -3px 0 0 5px;
}
.footer-logo-img{
    width:80px;
    height: 80px;
    border-radius: 100%;
    margin: 50px 0 0 80px;
}
div.MuiStack-root hr+div.MuiGrid-root:last-of-type {
    margin-top: 8px;
}