
/* main nav */
.main-navbar.ontop {
    position: fixed;
    top: 30px;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-color: var(--primary-dark-coloro); */
    box-shadow: 0 5px 5px 1px rgb(48, 4, 4);
    transition: .3s;
}

.main-navbar.active {
    transition: .3s;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 5px 1px rgb(48, 4, 4);
}

.main-navbar li:last-child a {
    white-space: nowrap;
}

.main-navbar .logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url(../../img/ronin_logo.jpg);
    background-size: cover;
    border-radius: 100%;
    vertical-align: middle;
    box-shadow: 0 5px 10px 1px rgb(48, 4, 4);
    margin-top: 29px;
    transition: .4s;
}

.main-navbar .logo.active {
    width: 67px;
    height: 67px;
    margin-top: 1px;
    box-shadow: none;
}

.main-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex: 0 1 50%;
}

.main-navbar ul li {
    letter-spacing: 0.5px;
    cursor: pointer;
}

.main-navbar ul li a {
    padding: 10px 15px;
    border-radius: 100%;
    
}

.main-navbar ul li a:hover {
    transition: .5s;
}

/* Drawer */

.main-navbar svg.MuiSvgIcon-root{
    color: var(--primary-light-coloro);
}

div.MuiDrawer-paperAnchorRight{
    background-color: var(--primary-dark-coloro);
    color: var(--primary-light-coloro);
   
}

div.MuiDrawer-paperAnchorRight ul.MuiList-root{
    font-size: 25px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
div.MuiDrawer-paperAnchorRight ul.MuiList-root li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    font-family: var(--base-font-famyli);
}
div.MuiDrawer-paperAnchorRight ul.MuiList-root li a{
    font-family: var(--base-font-famyli);
}
div.MuiDrawer-paperAnchorRight ul.MuiList-root li span{
    color: var(--red-color);
    font-size: 18px;
}
